.hero-container4 {
  height: 75vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  overflow: hidden;
  
  /* Apply background properties directly here */
  background-image: url('../../Images/Meetingbetweenclientandwebdev.jpg'); /* 🖼️ Add your image path here */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.hero-content4 {
  flex: 1;
  max-width: 700px;
  height: 600px;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  
}

.hero-title4 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: Montserrat, sans-serif;
}

.hero-subtitle4 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  font-family: Montserrat, sans-serif;
  list-style-type: "➣";
}



/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-container4 {
  height: auto;
  width: 100%;
  padding-bottom: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  overflow: hidden;  
}


  .hero-title4 {
    font-size: 2.5rem;
  }
  
  .hero-subtitle4 {
    font-size: 1.2rem;
  }
  
  .hero-content4 {
    margin: 0 1rem;
  }
}