/* src/styles/global.css */

/* --- ROOT ELEMENTS & BOX-SIZING (Always Mobile-First) --- */
/* These apply universally */
:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: rgb(74, 74, 74);
}