/* homepage.css */
.Hosting-page-container {
    width: 100%;
    min-height: 100vh;
    color: white;
    position: relative;
    padding-top: 90px;
    /* Adjust if your navbar height is different */
    font-family: Montserrat, sans-serif;
}

.Hosting-hero {
    height: 70vh;
    width: 100%;
    justify-items: center;
    align-content: center;
    background-image: url('../../Images/Hosting-hero.png');
    background-size: cover;
    background-position: center calc(100% + 100px);
    background-attachment: fixed;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.Hosting-hero-content {
    background-color: rgba(0, 0, 0, 0.624);
    border-radius: 10px;
    backdrop-filter: blur(9px);
    padding: 2rem 3rem;
    width: 75%;
    text-align: center;
}

.Hosting-hero-content h1 {
    font-size: 2.7rem;
    margin-bottom: 1.5rem;
}

.Hosting-hero-content p {
    font-size: 1.7rem;
}

.What-you-get {
    height: auto;
    min-height: 60vh;
    padding-bottom: 2rem;
}

.What-you-get h1 {
    font-size: 2.7rem;
    text-align: center;
}

.What-you-get p {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.7rem;
}

.What-you-get ul {
    list-style-type: none;
}

.What-you-get li {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.Packages-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: auto;
    min-height: 55vh;
    justify-content: center;
    align-items: center;
}

.host-package {
    background-color: rgba(0, 0, 0, 0.624);
    border-radius: 10px;
    backdrop-filter: blur(9px);
    height: 420px;
    width: 480px;
    padding: 0.5rem 0.5rem;
}

.host-package h1 {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

.host-package ul {
    list-style-type: "✓   ";
}

.host-package li {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .Hosting-page-container {
        padding-top: 5rem;
    }

    .Hosting-hero {
        display: flex;
        height: auto;
        width: 100%;
        justify-content: center;
        background-size: 51.5rem;
        background-position: 16.1cm 14cm;
        background-attachment: fixed;
    }

    .Hosting-hero-content {
        text-align: center;
        align-content: center;
        margin: auto 1rem;
        width: 88%;
        height: 55%;
        padding: 2rem 1rem;
        background-color: rgba(0, 0, 0, 0.611);
        border-radius: 10px;
        backdrop-filter: blur(9px);
    }

    .Hosting-hero-content h1 {
        font-size: 2rem;
        color: white;
        margin: 0;
        padding: 0;
    }

    .Hosting-hero-content p {
        font-size: 1.6rem;
        font-weight: 150;
        color: rgb(209, 209, 209);
        margin: 0;
        padding: 0;
    }

    .Packages-container {
        flex-direction: column;
        min-height: 0px;
        padding-bottom: 15px;
    }

    .host-package {
        width: 400px;
        height: auto;
    }

    .What-you-get p {
        margin: 0 1rem;
        text-align: center;
    }

    .What-you-get ul {
        text-align: left;
    }
}